.transform {
  width: 300px;
  height: 300px;
  margin: 50px;
  font-size: 36px;
  padding: 20px;
}
.translate {
  background-color: lightgreen;
  -webkit-transform: translate(70px, 75px);
  -moz-transform: translate(70px, 75px);
  -ms-transform: translate(70px, 75px);
  -o-transform: translate(70px, 75px);
  transform: translate(70px, 75px);
}
.skew {
  background-color: tomato;
  -webkit-transform: skew(30deg, 20deg);
  -moz-transform: skew(30deg, 20deg);
  -ms-transform: skew(30deg, 20deg);
  -o-transform: skew(30deg, 20deg);
  transform: skew(30deg, 20deg);
}
.rotate {
  background-color: gold;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.scale {
  background-color: lightskyblue;
  position: relative;
  top: 500px;
  left: 500px;
  -webkit-transform: scale(2, 3);
  -moz-transform: scale(2, 3);
  -ms-transform: scale(2, 3);
  -o-transform: scale(2, 3);
  transform: scale(2, 3);
}
