.item-1 {
  background-color: black;
  color: white;
}
.item-2 {
  background-color: white;
  color: black;
}
.item-3 {
  background-color: red;
  color: yellow;
}
.item-4 {
  background-color: darkviolet;
  color: lime;
}
